---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="grid flex">
        
        <div class="grid-item flex" id="banner-ghid"> Titlu GB24 </div>
        
        <div class="grid-item flex" id="text-home-page">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>

        <div class="grid-item flex" id="ghid">
            <div id="coperta-ghid" class="flex">
                <a href="/ghid">
                    <img src="/coperta_fata.svg" width="100%" height="100%">
                </a>
            </div>
        </div>

        <div class="grid-item" id="parteneri">
            <a href="/parteneri" class="flex">
                Parteneri
            </a>
        </div>

    </div>
</BaseLayout>
