---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="grid flex">
        
        <div class="grid-item flex" id="banner-ghid">
            <img src="/media/elemente/banner.svg">
        </div>
        
        <div class="grid-item" id="text-home-page">
            Sigur ești nerăbdător să afli secretele studenției, așa că rămâi cu noi! <br><br>
            Ghidul Bobocului este <b>proiectul</b> destinat bobocilor din cadrul Universității Tehnice
            din Cluj-Napoca, iar scopul lui este de a desluși câteva dintre <b>misterele studenției</b>
            și să te familiarizezi cu această etapă nouă a vieții! <br><br>

            În ghid vei găsi numeroase informații privind decursul unui an universitar,
            explicație pentru fiecare termen pe care îl vei auzi, <b>tips&tricks</b> pentru sesiune,
            dar și activități pentru timpul liber pe tema <b>aventurii</b>, a <b>culturii</b> și subiectul
            preferat de orice student: <b>Nightlife în Cluj</b>. 
            Așa că te invităm să răsfoiești ghidul atât online, cât și fizic. <br><br>

            Ne poți găsi în <b>24, 30 septembrie și 1 octombrie</b> în campus <b>Observator</b> și <b>Mărăști</b> dar
            și la festivitățile de deschidere. <br><br>

            De asemenea, pentru a te familiariza și mai mult cu organizația BEST Cluj-Napoca,
            am pregătit un eveniment special pentru tine, <b>BEST Open Day</b>.  Alătură-te nouă pe data
            de <b>2 octombrie 2024</b> la <b>Enigma Café</b>, ora <b>18:00</b>.
        </div>

        <div class="grid-item flex" id="ghid">
            <div id="coperta-ghid" class="flex">
                <a href="/ghid">
                    <img src="/media/pagini/ghid-1.webp" width="100%" height="100%">
                </a>
            </div>
        </div>

        <div class="grid-item" id="parteneri">
            <a href="/parteneri" class="flex">
                Parteneri
            </a>
        </div>

    </div>
</BaseLayout>
