---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout showFooter={false}>

	<a href="/homePage" id="goHomePage" style="display: none;"></a>
	<div id="welcome-banner"> Banner / Welcome page / Ceva </div>

	<script is:inline>

		addEventListener("load", () => {

			setTimeout(
				() => { document.getElementById("goHomePage").click(); },
				1000
			);
		});

	</script>
</BaseLayout>