---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardParteneri from "../components/CardParteneri.astro"
---
<BaseLayout>
    
    <div class="flex flex-vertical">
        <div id="text-parteneri">
            Ceva text multumiri parteneri. <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
        </div>
    
        <div class="parteneri flex flex-orizontal flex-gap">
        
            <CardParteneri
                nume="Enigma"
                logo="media/logo-uri/Enigma.svg"
                scaleLogo="2"
                borderLogo="white-drop-shadow-border"
                link="https://restaurantenigma.ro/"
            />
            <CardParteneri
                nume="Work & Travel"
                logo="media/logo-uri/Work and travel.svg"
                scaleLogo="2"
                borderLogo="white-drop-shadow-border"
                link="https://seeusworkandtravel.com/"
            />
            <CardParteneri
                nume="Vmax Karting"
                logo="media/logo-uri/Vmax.svg"
                scaleLogo="2"
                link="https://vmaxcluj.ro/?_gl=1*1gz3st8*_up*MQ..&gclid=EAIaIQobChMI7NDbppbXiAMV3w4GAB3aAS9REAAYASAAEgJhKfD_BwE"
            />
            <CardParteneri
                nume="Free Wall"
                logo="media/logo-uri/Freewall.svg"
                scaleLogo="2.2"
                link="https://www.freewall.ro/"
            />
            <CardParteneri
                nume="Centrala de Escalada"
                logo="media/logo-uri/Centrala de escalada.svg"
                scaleLogo="1.6"
                link="https://centraladeescalada.ro/"
            />
            <CardParteneri
                nume="The Dungeon"
                logo="media/logo-uri/Dungeon.svg"
                scaleLogo="1.6"
                link="https://thedungeon.ro/"
            />
            
        </div>
    </div>

</BaseLayout>