---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardParteneri from "../components/CardParteneri.astro"
---
<BaseLayout>
    <div class="parteneri flex flex-orizontal">
    
        <CardParteneri/>
        <CardParteneri/>
        <CardParteneri/>
        <CardParteneri/>
        <CardParteneri/>
        <CardParteneri/>
        
    </div>
</BaseLayout>