---
const { pageNumber, img, paginaCuprins=false } = Astro.props;
---

<div id=`page${pageNumber}-narrow` class="page">
    <div class="content-narrow">
        <img src={img} width="100%" height="100%" style="position: absolute;">
        { paginaCuprins &&
            <svg style="position: absolute;" width="100%" height="100%">
                <rect onclick="animatieNarrow(-1)" class="cuprins" width="50%" height="100%" x="0" y="0" fill="transparent" />
                <rect onclick="animatieNarrow(1)" class="cuprins" width="50%" height="100%" x="186" y="0" fill="transparent" />

                <path onclick="goToPageNarrow(8)" class="titlu-cuprins" id="cap-1" d="M 32 35 L 275 35 L 275 45 L 158 45 L 158 62 L 32 62 Z" fill="transparent" />
                <rect onclick="goToPageNarrow(9)" class="titlu-cuprins" id="cap-1-1" width="250" height="10" x="32" y="68" fill="transparent" />
                <rect onclick="goToPageNarrow(10)" class="titlu-cuprins" id="cap-1-2" width="250" height="10" x="32" y="85" fill="transparent" />
                <rect onclick="goToPageNarrow(12)" class="titlu-cuprins" id="cap-1-3" width="250" height="10" x="32" y="102" fill="transparent" />
                <rect onclick="goToPageNarrow(14)" class="titlu-cuprins" id="cap-1-4" width="250" height="10" x="32" y="118" fill="transparent" />
                <rect onclick="goToPageNarrow(16)" class="titlu-cuprins" id="cap-1-5" width="250" height="10" x="32" y="135" fill="transparent" />
                <rect onclick="goToPageNarrow(20)" class="titlu-cuprins" id="cap-1-6" width="250" height="10" x="32" y="152" fill="transparent" />
                <rect onclick="goToPageNarrow(22)" class="titlu-cuprins" id="cap-1-7" width="250" height="10" x="32" y="169" fill="transparent" />
                <rect onclick="goToPageNarrow(24)" class="titlu-cuprins" id="cap-1-8" width="250" height="10" x="32" y="185" fill="transparent" />
                
                <rect onclick="goToPageNarrow(26)" class="titlu-cuprins" id="cap-2" width="188" height="10" x="32" y="219" fill="transparent" />
                <rect onclick="goToPageNarrow(28)" class="titlu-cuprins" id="cap-2-1" width="250" height="10" x="32" y="235" fill="transparent" />
                <rect onclick="goToPageNarrow(32)" class="titlu-cuprins" id="cap-2-2" width="250" height="10" x="32" y="252" fill="transparent" />
                <rect onclick="goToPageNarrow(34)" class="titlu-cuprins" id="cap-2-3" width="250" height="10" x="32" y="269" fill="transparent" />
                
                <rect onclick="goToPageNarrow(38)" class="titlu-cuprins" id="cap-3" width="170" height="10" x="32" y="302" fill="transparent" />
                <rect onclick="goToPageNarrow(39)" class="titlu-cuprins" id="cap-3-1" width="250" height="10" x="32" y="319" fill="transparent" />
                <rect onclick="goToPageNarrow(53)" class="titlu-cuprins" id="cap-3-2" width="250" height="10" x="32" y="336" fill="transparent" />
                <rect onclick="goToPageNarrow(56)" class="titlu-cuprins" id="cap-3-3" width="250" height="10" x="32" y="352" fill="transparent" />
                <rect onclick="goToPageNarrow(58)" class="titlu-cuprins" id="cap-3-4" width="250" height="10" x="32" y="369" fill="transparent" />
                <rect onclick="goToPageNarrow(62)" class="titlu-cuprins" id="cap-3-5" width="250" height="10" x="32" y="386" fill="transparent" />
                
                <rect onclick="goToPageNarrow(68)" class="titlu-cuprins" id="cap-4" width="132" height="10" x="32" y="419" fill="transparent" />
                <rect onclick="goToPageNarrow(70)" class="titlu-cuprins" id="cap-4-1" width="250" height="10" x="32" y="436" fill="transparent" />
                <rect onclick="goToPageNarrow(71)" class="titlu-cuprins" id="cap-4-2" width="250" height="10" x="32" y="453" fill="transparent" />
                <rect onclick="goToPageNarrow(74)" class="titlu-cuprins" id="cap-4-3" width="250" height="10" x="32" y="469" fill="transparent" />
                <rect onclick="goToPageNarrow(76)" class="titlu-cuprins" id="cap-4-4" width="250" height="10" x="32" y="486" fill="transparent" />
                <rect onclick="goToPageNarrow(80)" class="titlu-cuprins" id="cap-4-5" width="250" height="10" x="32" y="503" fill="transparent" />
                <rect onclick="goToPageNarrow(82)" class="titlu-cuprins" id="cap-4-6" width="250" height="10" x="32" y="520" fill="transparent" />
            </svg>
        }
    </div>
</div>
