---
const { pageNumber, frontImg, backImg, paginaCuprins=false } = Astro.props;
---

<div id=`page${pageNumber}` class="page">
    <div class="front">
        <div class="front-content">
            <img src=`${frontImg}` width="100%" height="100%">
        </div>
    </div>
    <div class="back">
        <div class="back-content">
			<img src=`${backImg}` width="100%" height="100%" style="position: absolute">
			{ paginaCuprins &&
				<svg style="position: absolute;" width="100%" height="100%">
					<rect onclick="animatie(-1)" class="cuprins" width="100%" height="100%" x="0" y="0" fill="transparent" />

					<path onclick="goToPage(5)" class="titlu-cuprins" id="cap-1" d="M 32 33 L 275 33 L 275 48 L 158 48 L 158 68 L 32 68 Z" fill="transparent" />
					<rect onclick="goToPage(5)" class="titlu-cuprins" id="cap-1-1" width="250" height="16" x="32" y="68" fill="transparent" />
					<rect onclick="goToPage(6)" class="titlu-cuprins" id="cap-1-2" width="250" height="16" x="32" y="85" fill="transparent" />
					<rect onclick="goToPage(7)" class="titlu-cuprins" id="cap-1-3" width="250" height="16" x="32" y="102" fill="transparent" />
					<rect onclick="goToPage(8)" class="titlu-cuprins" id="cap-1-4" width="250" height="16" x="32" y="118" fill="transparent" />
					<rect onclick="goToPage(9)" class="titlu-cuprins" id="cap-1-5" width="250" height="16" x="32" y="135" fill="transparent" />
					<rect onclick="goToPage(11)" class="titlu-cuprins" id="cap-1-6" width="250" height="16" x="32" y="152" fill="transparent" />
					<rect onclick="goToPage(12)" class="titlu-cuprins" id="cap-1-7" width="250" height="16" x="32" y="169" fill="transparent" />
					<rect onclick="goToPage(13)" class="titlu-cuprins" id="cap-1-8" width="250" height="16" x="32" y="185" fill="transparent" />
					
					<rect onclick="goToPage(14)" class="titlu-cuprins" id="cap-2" width="188" height="16" x="32" y="219" fill="transparent" />
					<rect onclick="goToPage(15)" class="titlu-cuprins" id="cap-2-1" width="250" height="16" x="32" y="235" fill="transparent" />
					<rect onclick="goToPage(17)" class="titlu-cuprins" id="cap-2-2" width="250" height="16" x="32" y="252" fill="transparent" />
					<rect onclick="goToPage(18)" class="titlu-cuprins" id="cap-2-3" width="250" height="16" x="32" y="269" fill="transparent" />
					
					<rect onclick="goToPage(20)" class="titlu-cuprins" id="cap-3" width="170" height="16" x="32" y="302" fill="transparent" />
					<rect onclick="goToPage(20)" class="titlu-cuprins" id="cap-3-1" width="250" height="16" x="32" y="319" fill="transparent" />
					<rect onclick="goToPage(27)" class="titlu-cuprins" id="cap-3-2" width="250" height="16" x="32" y="336" fill="transparent" />
					<rect onclick="goToPage(29)" class="titlu-cuprins" id="cap-3-3" width="250" height="16" x="32" y="352" fill="transparent" />
					<rect onclick="goToPage(30)" class="titlu-cuprins" id="cap-3-4" width="250" height="16" x="32" y="369" fill="transparent" />
					<rect onclick="goToPage(32)" class="titlu-cuprins" id="cap-3-5" width="250" height="16" x="32" y="386" fill="transparent" />
					
					<rect onclick="goToPage(35)" class="titlu-cuprins" id="cap-4" width="132" height="16" x="32" y="419" fill="transparent" />
					<rect onclick="goToPage(36)" class="titlu-cuprins" id="cap-4-1" width="250" height="16" x="32" y="436" fill="transparent" />
					<rect onclick="goToPage(36)" class="titlu-cuprins" id="cap-4-2" width="250" height="16" x="32" y="453" fill="transparent" />
					<rect onclick="goToPage(38)" class="titlu-cuprins" id="cap-4-3" width="250" height="16" x="32" y="469" fill="transparent" />
					<rect onclick="goToPage(39)" class="titlu-cuprins" id="cap-4-4" width="250" height="16" x="32" y="486" fill="transparent" />
					<rect onclick="goToPage(41)" class="titlu-cuprins" id="cap-4-5" width="250" height="16" x="32" y="503" fill="transparent" />
					<rect onclick="goToPage(42)" class="titlu-cuprins" id="cap-4-6" width="250" height="16" x="32" y="520" fill="transparent" />
				</svg>
			}
        </div>
    </div>
</div>
