---
const { url, img, name } = Astro.props;
---

<a href={url} class="social">
    <img src={img}>
    <p> {name} </p>
</a>

<style>

    .social {
        width: 200px;
        height: 100px;
        text-align: center;
    }

</style>