---
const { url, img, imgScale=1, name } = Astro.props;
---

<a href={url} target="_blank" class="social flex flex-orizontal">
    <img src={img}>
    <p> {name} </p>
</a>

<style define:vars={{imgScale}}>

    .social {
        width: fit-content;
        height: 100px;
        text-align: center;
    }
    .social img {

        width: 50px;
        height: 50px;
        scale: var(--imgScale);
        
        margin-right: 10px;
    }

</style>