---
const { url, img, imgScale=1, name } = Astro.props;
---

<a href={url} target="_blank" class="social flex flex-orizontal">
    <img src={img} style=`scale: ${imgScale};`>
    <p> {name} </p>
</a>
