---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import PreloadPages from "../components/PreloadPages.astro";

const animation = {

	old: [
		{
			name: "fade-out",
			duration: "300ms",
			easing: "ease-in",
			fillMode: "both",
		},
		{
			name: "slide-out",
			duration: "600ms",
			easing: "ease-in",
			fillMode: "both",
		},
	],
	new: [
		{
			name: "fade-in",
			delay: "600ms",
			duration: "600ms",
			easing: "ease-in-out",
			fillMode: "both",
		},
		{
			name: "slide-in",
			duration: "600ms",
			easing: "ease-in-out",
			fillMode: "both",
		},
	],
};

const customTransition = {

	forwards: animation,
	backwards: animation,
};

const { isBookPage = false, showFooter = true } = Astro.props;
---

<!DOCTYPE html>
<html transition:animate={customTransition}>

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="media/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> Ghidul Bobocului </title>
		<link rel="stylesheet" href="styles/style.css">

		<!-- !!! NUMARUL DE PAGINI DIN  public/scripts/bookAnimation.js !!! -->
		<!-- !!!   SI DIN <HEAD> DIN    src/pages/ghid.astro            !!! -->
		<!-- <PreloadPages numberOfPages="88" /> -->

		<ViewTransitions />
	</head>

	<body>

		<main class="flex">

			<slot />
			
		</main>

		{ showFooter && <Footer/>}

		{isBookPage && 
			<script src="/scripts/bookAnimation.js"></script>
			<script src="/scripts/bookAnimationNarrow.js"></script>
		}
	</body>

</html>

<style is:global>
	@keyframes fade-out {
		
		to { opacity: 0; }
	}
	@keyframes fade-in {
		
		from { opacity: 0; }
	}
	@keyframes slide-out {
		
		to { transform: translateY(90px); }
	}
	@keyframes slide-in {
		
		from { transform: translateY(-90px); }
	}
</style>